body{
    background-size: cover;
}
.heading{
    font-size: 30px;
    font-variant: small-caps;
    width: 100%;
    margin-top:-5px;
}
.note{
    font-size: 15px;
    font-variant-alternates: character-variant(cv02);
    color: black;
}
.SpeedDiv{
    float:left;
}
.SpeedDiv img{
    width:200px;
    border-radius: 100px;
}
.Previous{
    text-align: center;
    color: cadetblue;
    background-color: darkkhaki;
    border-radius: 60px;
}
.VolumeDiv{
    float:right;
}
.VolumeDiv img{
    width:200px;
    border-radius: 100px;
}
#Back{
      margin-left: 512px;
}
.Next{
    text-align: center;
    color: cadetblue;
    background-color: darkkhaki;
    border-radius: 60px;
}